Source: sylpheed-claws-vcalendar-plugin
Section: mail
Priority: optional
Maintainer: Ricardo Mones <mones@aic.uniovi.es>
Uploaders: Paul Mangan <claws@thewildbeast.co.uk>, Gustavo Noronha Silva <kov@debian.org>
Build-Depends: debhelper (>= 4.0.0), libsylpheed-claws-dev (=2.0.0-ubuntu1-1), libgtk2.0-dev, libcurl3-dev (>= 7.14.0)
Standards-Version: 3.6.1

Package: sylpheed-claws-vcalendar-plugin
Architecture: any
Depends: ${shlibs:Depends}, sylpheed-claws (=2.0.0-ubuntu1-1), libcurl3 (>= 7.14.0)
Conflicts: sylpheed-claws (>= 2.0.1)
Recommends: sylpheed-claws-plugins
Description: This plugin enables vCalendar message handling like 
 that produced by Evolution or Outlook, and handles webCal subscriptions. 
