Source: claws-mail-acpi-notifier-plugin
Section: mail
Priority: optional
Maintainer: Ricardo Mones <mones@aic.uniovi.es>
Uploaders: Paul Mangan <claws@thewildbeast.co.uk>, Gustavo Noronha Silva <kov@debian.org>
Build-Depends: debhelper (>= 4.0.0), libclaws-mail-dev (=2.0.0-ubuntu1-1), libgtk2.0-dev
Standards-Version: 3.6.1

Package: claws-mail-acpi-notifier-plugin
Architecture: any
Depends: ${shlibs:Depends}, claws-mail (=2.0.0-ubuntu1-1)
Conflicts: claws-mail (>= 2.0.1)
Recommends: claws-mail-plugins
Description: This plugin enables new mail notification via the LEDs found on some laptops like Acer, Asus and IBM laptops.
