Source: claws-mail-etpan-privacy-plugin
Section: mail
Priority: optional
Maintainer: Ricardo Mones <mones@aic.uniovi.es>
Uploaders: Paul Mangan <claws@thewildbeast.co.uk>, Gustavo Noronha Silva <kov@debian.org>
Build-Depends: debhelper (>= 4.0.0), libclaws-mail-dev (=2.0.0-ubuntu1-1), libgtk2.0-dev, libetpan-dev (>= 0.40-1)
Standards-Version: 3.6.1

Package: claws-mail-etpan-privacy-plugin
Architecture: any
Depends: ${shlibs:Depends}, claws-mail (=2.0.0-ubuntu1-1)
Conflicts: claws-mail (>= 2.0.1)
Recommends: claws-mail-plugins
Description: This plugin handles signature verification and decryption of encrypted 
 messages in S/MIME, OpenPGP, and ascii-armored PGP formats.
