Source: sylpheed-claws-etpan-privacy-plugin
Section: mail
Priority: optional
Maintainer: Ricardo Mones <mones@aic.uniovi.es>
Uploaders: Paul Mangan <claws@thewildbeast.co.uk>, Gustavo Noronha Silva <kov@debian.org>
Build-Depends: debhelper (>= 4.0.0), libsylpheed-claws-dev (>= 2.0.0-rc1), libgtk2.0-dev, libetpan-dev (>= 0.40-1)
Standards-Version: 3.6.1

Package: sylpheed-claws-etpan-privacy-plugin
Architecture: any
Depends: ${shlibs:Depends}, sylpheed-claws (>= 2.0.0-rc1)
Conflicts: sylpheed-claws (>= 2.0.1)
Recommends: sylpheed-claws-plugins
Description: This plugin handles signature verification and decryption of encrypted 
 messages in S/MIME, OpenPGP, and ascii-armored PGP formats.
