Source: claws-mail-gtkhtml2-viewer-plugin
Section: mail
Priority: optional
Maintainer: Ricardo Mones <mones@aic.uniovi.es>
Uploaders: Paul Mangan <claws@thewildbeast.co.uk>, Gustavo Noronha Silva <kov@debian.org>
Build-Depends: debhelper (>= 4.0.0), libclaws-mail-dev (=2.0.0-ubuntu1-1), libgtk2.0-dev, libcurl3-dev (>= 7.14.0), libgtkhtml2-dev (>= 2.6)
Standards-Version: 3.6.1

Package: claws-mail-gtkhtml2-viewer-plugin
Architecture: any
Depends: ${shlibs:Depends}, claws-mail (=2.0.0-ubuntu1-1), libcurl3 (>= 7.14.0), libgtkhtml2-0 (>= 2.6)
Conflicts: claws-mail (>= 2.0.1)
Recommends: claws-mail-plugins
Description: This plugin allows you to read your favorite newsfeeds in Claws. RSS 1.0, 2.0 and Atom feeds are currently supported.
